.custom_has_err{
	border-color: #ed5565;
}

.custom_has_err{
	border-color: #ed5565;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ed5565 !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ed5565 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #ed5565 !important;
}