.custom_has_err{
	border-color: #ed5565;
}

.custom_has_err{
	border-color: #ed5565;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ed5565 !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ed5565 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #ed5565 !important;
}

.wrap_loading_box {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading_box_icon {
  font-size: 37px;
}
